# =========================
# Python / Virtualenv
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python

venv/
.venv/
env/
ENV/

# =========================
# Build / Distribuição
# =========================
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
*.whl

# =========================
# Logs
# =========================
*.log
logs/
log/

# =========================
# Ambiente / Segredos
# =========================
.env
.env.*
!.env.example

# =========================
# Test / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/
.coverage.*
coverage.xml

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Migrations (se usar Alembic)
# =========================
alembic.ini

# =========================
# SQLite (se alguém usar local)
# =========================
*.sqlite3
*.db